In [8]:
member = {"테니스":"정현", "축구":"박지성"}
member["테니스"]

a = member.get("테니스2","없음")
print(a)

없음

In [10]:
"테니스2" in member

False

In [11]:
member["농구"] = "허재"

In [12]:
member

{'테니스': '정현', '축구': '박지성', '농구': '허재'}

In [13]:
member["농구"] = "김선형"

In [14]:
member

{'테니스': '정현', '축구': '박지성', '농구': '김선형'}

In [15]:
del member["농구"]

In [16]:
member

{'테니스': '정현', '축구': '박지성'}

In [17]:
member.keys()

dict_keys(['테니스', '축구'])

In [18]:
member.values()

dict_values(['정현', '박지성'])

In [20]:
for key, val in member.items():
    print(key,"==>", val)

테니스 ==> 정현
축구 ==> 박지성

In [27]:
#값변경 가능 --- list , dict 
#값변경 불가 
a=10
print(id(a))
a=a+1
print(id(a))
b = "파이썬"
print(id(b))
b = b + "짱~"
print(id(b))
#-------------------list, dict 값 변경 가능 (mutable)
alist = [1,2,3,4,5]
print(id(alist))
alist[0]=99
print(id(alist))

adict = {"name":"jj", "age":20}
print(id(adict))
adict["name"] = "kk"
print(id(adict))

#값 변경 불가 (tuple)
atuple = (1,2,3,4,5)
#atuple[0] = 99

1888321872
1888321904
2448952602320
2448953167256
2448953226824
2448953226824
2448952766680
2448952766680

In [35]:
a="문자"
print(id(a))
a="문자2"
print(id(a))
b=10
adict = {"키1":"값1", 99:"값2", (1,2):"값3", a:"값4", b:[1,2,3,4]}
adict.keys()
for key, val in adict.items():
    print(key, val, sep="->")

2448953441424
2448953441072
키1->값1
99->값2
(1, 2)->값3
문자2->값4
10->[1, 2, 3, 4]

In [36]:
adict = {"키1":"값1", 99:"값2", (1,2):"값3", a:"값4", b:[1,2,3,4]}
adict2 = {"k1":"v1"}
#병합
adict.update(adict2)
adict

{'키1': '값1', 99: '값2', (1, 2): '값3', '문자2': '값4', 10: [1, 2, 3, 4], 'k1': 'v1'}

In [40]:
a = dict()
a["키1"] = "값1"
a["키2"] = 100
a

{'키1': '값1', '키2': 100}

In [43]:
alist = [1,2,3,4,5]

In [49]:
s="""
?기억나니
그날밤 니가 찾아왔어
운명처럼
I Can't Stop Missing You
Touch Girl Touch Girl
Touch Girl Nomatter Where You Are
I Can't Wait That Blue The Moon
I Keep On Running Keep On
Running Keep On Running
Keep On Running
니 작은손 그안에 내가 있는지
말해줄래 귀여운 Little Girl
I'll Be There For You
Hey Girl 보면 가슴이 막 뛰어
내 눈빛에 흔들리는 Like A Deer
Sky Sky Kiss The Sky
Touch It Girl Make It
Groovy & Smile
나는 구름을 타고 달려온
사람은 아니지만
니가 구름을 원한다면
퍼다줄께 말리지마
나는 여자앞에서는 약해
막내 꼬마같애
HAHA 그래도 너 아니면 안돼
토요일밤에 만날려고
여기까지 나는 나왔어
니가 무엇을 하던간에
어디를 가던간에
아름다운 니 손 단비를 맞았어
빙글빙글 도는 눈이 꼭 만화같아
사랑에 빠지면 다 이런기분 아냐
이글이글 대는 여름의 햇빛
젊음의 행진 리듬을 춰줘요 첵킷
니 작은손 그안에 내가 있는지
널 안으면 심장이 터질것같아 난
말해줄래 그안에 내가 있는지
언제라도 내 두손을 잡아
I'll Be There For You
너를 어리다고 놀리지는 않으니까
유리같은 마음이 깨지면 아프니까
I'm Not A Devil 믿어줘 매분 매초
뱉어 사랑해라고 외쳐외쳐
"""

In [47]:
"한".isalpha()
"a".isalpha()
"?".isalpha()
" ".isalpha()

False

In [48]:
s = "abcd"
for c in s:
    print(c)

a
b
c
d

In [50]:
result = {}
for c in s:
    if not c.isalpha():continue
    c = c.lower()
    if c in result:
        result[c] += 1
    else:
        result[c] = 1

In [54]:
alist = s.split(" ")

In [63]:
#영문자가 아니면 공백으로 치환하기 
#sub : 정규표현식에 의해 대치하여 새로운 문자열을 만든다. 
import re
s2 = re.sub("[^a-zA-Z]"," ", s)
alist = s2.split(" ")
blist = [word for word in alist if word!='']
result = {}
for word in blist:
    if word in result:
        result[word] += 1
    else:
        result[word]=1
result

{'I': 6,
 'Can': 2,
 't': 2,
 'Stop': 1,
 'Missing': 1,
 'You': 4,
 'Touch': 4,
 'Girl': 6,
 'Nomatter': 1,
 'Where': 1,
 'Are': 1,
 'Wait': 1,
 'That': 1,
 'Blue': 1,
 'The': 2,
 'Moon': 1,
 'Keep': 4,
 'On': 4,
 'Running': 4,
 'Little': 1,
 'll': 2,
 'Be': 2,
 'There': 2,
 'For': 2,
 'Hey': 1,
 'Like': 1,
 'A': 2,
 'Deer': 1,
 'Sky': 3,
 'Kiss': 1,
 'It': 2,
 'Make': 1,
 'Groovy': 1,
 'Smile': 1,
 'HAHA': 1,
 'm': 1,
 'Not': 1,
 'Devil': 1}

In [83]:
import re
from collections import Counter

s2 = re.sub("[^a-zA-Z]"," ", s)
alist = s2.split(" ")
result = Counter(alist)
result.most_common(10)

[('', 410),
 ('I', 6),
 ('Girl', 6),
 ('You', 4),
 ('Touch', 4),
 ('Keep', 4),
 ('On', 4),
 ('Running', 4),
 ('Sky', 3),
 ('Can', 2)]

In [69]:
#dictionary 만들기
a= dict()
a = dict(one=1, two=2)
a = dict([("one",1),("two",2)]) #[(),()]
a = dict({("one",1),("two",2)}) #{(),()}
a = dict({'two': 2, 'one': 1})
a

{'two': 2, 'one': 1}

In [77]:
list(zip(["one","two","three"],  [1,2,3]))
tuple(zip(["one","two","three"],  [1,2,3]))
a = dict(zip(["one","two","three"],  [1,2,3]))
a["two"]

2

In [84]:
dict.fromkeys("abcde", 1)

{'a': 1, 'b': 1, 'c': 1, 'd': 1, 'e': 1}

In [90]:
data = dict.fromkeys("abcd",[])

#하나의 객체의 수정이 전체에 반영된다. (값 동일한 경우 )
data["a"].append(100)

data["a"] = [99,88,77]
data["a"].append(200) #값이 동일하지 않으면 하나의 객체에 반영된다. 
data

{'a': [99, 88, 77, 200], 'b': [100], 'c': [100], 'd': [100]}

In [94]:
a=10
print(id(a))
a = 10+1
print(id(a))
#dir(a)

1888321872
1888321904

In [98]:
a="abcd"
a2 = (1,2,3,4)
dict(zip(a,a2))
{ x:y   for x,y in zip(a,a2)  }

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [107]:
from collections import OrderedDict
data = OrderedDict()
data["z1"] = "값1"
data["aa"] = "값2"
data["a키3"] = "값3"
data["bb"] = "값4"
data

OrderedDict([('z1', '값1'), ('aa', '값2'), ('a키3', '값3'), ('bb', '값4')])

# Set

In [131]:
alist = [1,2,3,4,1,2,3,4,1,2,3,4]
b = set(alist)
b

{1, 2, 3, 4}

In [118]:
a = set()
a = set("abcdabcdabcdabcdabcdabcdabcdabcdabcd")
a = set([1,2,3,4,1,2,3,4,1,2,3,4])
a = set((1,2,3,4,1,2,3,4))
d = {"키1":"값1","키2":"값1"}
a = set(d)
a = {1,2,3,4,1,2,3,4}
a.add(5)
a.update({1,2,3,4,5,6,7,8,9})
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [123]:
d = {"키1":"값1","키2":"값1","키3":"값2","키4":"값2"}
set(d.values())

{'값1', '값2'}

In [126]:
set(d.keys())

{'키1', '키2', '키3', '키4'}

In [130]:
dict(d.items())

{'키1': '값1', '키2': '값1', '키3': '값2', '키4': '값2'}

In [145]:
#집합연산
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}
c={4,10}
d={1,2,3,4}
print(a | b)
print(a.union(b))
print(a & b)
print(a.intersection(b))
print(a.intersection(b,c))
print(a - b)
print(a.difference(b))
print(a ^ b)
print(a.symmetric_difference(b)) #대칭차집합 ...같은것만 제거 
print(d <= a)
print(d.issubset(a))
print(d < a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}
{4}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 7, 8, 9}
{1, 2, 3, 7, 8, 9}
True
True
True

In [147]:
print(a.intersection(b))
a.isdisjoint(b) #교집합이 공집합인가?

{4, 5, 6}

False

In [150]:
score = [100,40,70,90,80]
idx=0
for s in score:
    print(idx, s, sep="-->")
    idx += 1

0-->100
1-->40
2-->70
3-->90
4-->80

In [152]:
for idx in range(len(score)):
    print(idx,score[idx], sep="-->")

0-->100
1-->40
2-->70
3-->90
4-->80

In [153]:
for idx, s in enumerate(score):
    print(idx,s, sep="-->")

0-->100
1-->40
2-->70
3-->90
4-->80

In [163]:
score = [100,40,70,90,80,50, 60, 50,100]

In [164]:
def f(x):
    return x > 60

In [167]:
list(filter(f, score))
#tuple(filter(f, score))
#set(filter(f, score))

[100, 70, 90, 80, 100]

In [168]:
list(filter(lambda x:x>60, score))

[100, 70, 90, 80, 100]

In [169]:
def f(x):
    return x/2

In [172]:
list(map(lambda x:x/2, score))

[50.0, 20.0, 35.0, 45.0, 40.0, 25.0, 30.0, 25.0, 50.0]

In [175]:
a=3
b=a
print("a={}, b={}, a주소={}, b주소={}".format(a,b,id(a),id(b)))
a=5
print("a={}, b={}, a주소={}, b주소={}".format(a,b,id(a),id(b)))

a=3, b=3, a주소=1888321648, b주소=1888321648
a=5, b=3, a주소=1888321712, b주소=1888321648

In [177]:
a=[1,2,3,4]
b=a
print("a={}, b={}, a주소={}, b주소={}".format(a,b,id(a),id(b)))
a[1] = 99
print("a={}, b={}, a주소={}, b주소={}".format(a,b,id(a),id(b)))
a = [1,2,3,4]
print("a={}, b={}, a주소={}, b주소={}".format(a,b,id(a),id(b)))

a=[1, 2, 3, 4], b=[1, 2, 3, 4], a주소=2448959240136, b주소=2448959240136
a=[1, 99, 3, 4], b=[1, 99, 3, 4], a주소=2448959240136, b주소=2448959240136
a=[1, 2, 3, 4], b=[1, 99, 3, 4], a주소=2448959304904, b주소=2448959240136

In [179]:
a=[1,2,3,4]
#주소공유 
#b=a
#복사 
b = a.copy()
print("a={}, b={}, a주소={}, b주소={}".format(a,b,id(a),id(b)))
a[1] = 99
print("a={}, b={}, a주소={}, b주소={}".format(a,b,id(a),id(b)))

a=[1, 2, 3, 4], b=[1, 2, 3, 4], a주소=2448959362632, b주소=2448953681672
a=[1, 99, 3, 4], b=[1, 2, 3, 4], a주소=2448959362632, b주소=2448953681672

In [187]:
import copy

a=[1,2,3,4]

b=[a, 10,20,30,40,50]

c = b.copy()
print(b)
print(c)
b[1] = 99
a[0] = 88
b[0][1] = 77
print("b=", b)
print("c=", c)

[[1, 2, 3, 4], 10, 20, 30, 40, 50]
[[1, 2, 3, 4], 10, 20, 30, 40, 50]
b= [[88, 77, 3, 4], 99, 20, 30, 40, 50]
c= [[88, 77, 3, 4], 10, 20, 30, 40, 50]

In [195]:
a=[1,2,3]
b=[a,5,6,7]
#c = b.copy()
c = copy.deepcopy(b)
print(b)
a[0]=99
b[1]=88
b[0][2]=77
print(a)
print(b)
print(c)

[[1, 2, 3], 5, 6, 7]
[99, 2, 77]
[[99, 2, 77], 88, 6, 7]
[[1, 2, 3], 5, 6, 7]

In [197]:
a=[1,2,3]
b=[a,5,6,7]
c = b
c2 = b.copy()
print( b is c)
print( b is c2)

True
False

In [198]:
import sys
sys.path

['C:\\Users\\user\\Anaconda3\\envs\\encore\\python36.zip',
 'C:\\Users\\user\\Anaconda3\\envs\\encore\\DLLs',
 'C:\\Users\\user\\Anaconda3\\envs\\encore\\lib',
 'C:\\Users\\user\\Anaconda3\\envs\\encore',
 '',
 'C:\\Users\\user\\Anaconda3\\envs\\encore\\lib\\site-packages',
 'C:\\Users\\user\\Anaconda3\\envs\\encore\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\user\\.ipython']

In [200]:
import math
print(math.pi)

3.141592653589793

In [202]:
import sys
from math import pi, gcd
print(pi)
print(gcd(36,12))

#dir(math)

3.141592653589793
12

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [207]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\user\anaconda3\envs\encore\lib\site-packages (1.16.1)

In [6]:
import os
import sys
import numpy
print(sys.modules["os"])
print(sys.modules["numpy"])

<module 'os' from 'C:\\Users\\user\\Anaconda3\\envs\\encore\\lib\\os.py'>
<module 'numpy' from 'C:\\Users\\user\\Anaconda3\\envs\\encore\\lib\\site-packages\\numpy\\__init__.py'>

In [14]:
s1 = "Introduction to Python"
s2 = "Python is easy"
len(s1)
s1 == s1
s1 < s2
s1.find("to2")
s1[1]
s1[1:4]
# 다음 수식의 결과를 써라. 
# (1) len(s1)
# (2) s1 == s2
# (3) 3*s1
# (4) s1 < s2
# (5) s1.find("to")
# (6) s1[1]
# (7) s1[1:4]

'ntr'

In [55]:
#문자열을 입력하시오: abba
#회문입니다. (palindrome)
#2. 문자열 중에서 앞으로 읽는 것과 뒤로 읽는 것이 동일한 것
s = list("123454321")
s2 = list(reversed(s)) #reversed는 사용후 소진된다. iter
if s == s2:
    print("회문", s, s2)
else:
    print("NO")
print(id(s))    
print(id(s2))  
print(s is s2)

회문 ['1', '2', '3', '4', '5', '4', '3', '2', '1'] ['1', '2', '3', '4', '5', '4', '3', '2', '1']
2133962181384
2133962181448
False

In [23]:
s = "123454321"
s2 = reversed(s)
list(s2)
list(s2)

[]

In [26]:
a = range(10)
list(a)
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
s2 = reversed("파이썬")
list(s2)

['썬', '이', '파']

In [49]:
nums = [1,2,3,4]
data = iter(nums)

In [50]:
for i in nums:
    print(i)

1
2
3
4

In [48]:
while True:
    try:
        print(next(data))
    except StopIteration:
        print("값이 없다...모두 소진됨")
        break

1
2
3
4
값이 없다...모두 소진됨

In [58]:
# 3. 사용자로부터 생년월일을 문자열로 받아서 
# 올바른 생년월일인지를 검사하는 프로그램을 작성하라. 
# 예를 들면 “19991301”과 같은 문자열은 올바른 생년월일이 아니다. 
# 13월 1일은 올바르지 않다. 
s = input("생년월일")
m = int(s[4:6])
d = int(s[6:8])
if m <0 or m > 12:
    print("월 잘못입력")
else:
    if d >0 and d<=31:
        print("OK")
    else:
        print("일자 오류")

생년월일19991301
월 잘못입력

In [ ]:
4. 사용자가 입력한 문자열에서 특정한 문자의 
빈도를 계산하는 프로그램을 작성해보자. 예를 들어서 “Welcome to Python”에서 문자 
“o”의 빈도를 계산하는 프로그램을 작성한다.

In [59]:
s = input("문자열을 입력하시오:")
s.count("o")

문자열을 입력하시오:oooooodsadsdsagoooooooo

14

In [82]:
data = [('abc',2),('def',3),('ghi',4),('jkl',5),('mnp',6),('pqrs',7),('tuv',8),
('wxyz',9),]
#{"a":2, "b":2,"c":2,"d":3................}
adic = {aa:v  for k,v in data for aa in k}
user_input = "NUMBER".lower()
[adic.get(k) for k in user_input]
''.join(str(adic.get(k)) for k in user_input)

'686237'

In [88]:
s = input("문자열을 입력하시오:") 
#방법1
print(''.join(reversed(s)))
#방법2
for aa in reversed(s):
    print(aa, end="")

문자열을 입력하시오:abcd
dcba
dcba

In [93]:
while True:
    age = input("나이를 입력하시오:") 
    if age.isdecimal():  #숫자형태인가?
        break
    print("숫자로 ~~~~~")
print("나이==>{}".format(age))

나이를 입력하시오:20
나이==>20

In [92]:
age="888888"
#dir(age)

In [98]:
user = {"python":"1234", "min":"dddd"}
aa = input("ID를 입력하시오:") 
if aa in user:
    print(user.get(aa))
else:
    print("ID오류")

ID를 입력하시오:python
1234

In [103]:
alist = [1,2,3,4,5]
4 in alist

user = {"python":"1234", "min":"dddd"}
'min2' in user

a = (1,2,3,4,5)
4 in alist

a = {1,2,3,4,5}
4 in alist

True

In [136]:
%%writefile car.py
model = "BMW520"
speed = 80
def speed_display(s):
    print('증가된 speed  :', speed + s)

if __name__ ==  "__main__":   
    print("car 모듈 시작")
    print(__name__)
    print("car 모듈 끝")

Overwriting car.py

In [137]:
import imp
imp.reload(car)
car.model
car.speed
car.speed_display(car.speed)

증가된 speed  : 160

In [144]:
def f():
    print("함수입니다.")
     

aa = f()
print(aa)

함수입니다.
None

In [129]:
%%writefile mycalc.py
def add(a,b):
    return a+b

if __name__ == '__main__':
    print(1)
    print(add(10,20))
    print(2)

Overwriting mycalc.py

In [132]:
from mycalc import add
print(add(10,20))

30

In [133]:
dir(mycalc)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'add']