In [1]:
1+2

3

In [2]:
import sys
sys.version

'3.6.8 |Anaconda, Inc.| (default, Dec 30 2018, 18:50:55) [MSC v.1915 64 bit (AMD64)]'

In [2]:
import platform
platform.platform()

'Windows-10-10.0.17134-SP0'

In [3]:
platform.system()

'Windows'

In [7]:
print(platform.release())
print(platform.version())

10
10.0.17134

In [19]:
a=10
b=20
print(a,b,a+b, sep="**", end="!!!!")
print()
print(a, end=" ")
print(b)

10**20**30!!!!
10 20

In [21]:
year = 2000
month = 10
day = 27
hour = 11
minute = 43
second = 59
print(year, month, day, sep="/", end=" ")
print(hour, minute, second, sep=":")

#[출력] 
#2000/10/27 11:43:59

2000/10/27 11:43:59

In [7]:
age1 = input("내 나이는?")
age2 = input("너 나이는?")
#print( age1+ age2, age1*age2 )
print( int(age1) + int(age2) )

내 나이는?10
너 나이는?20
30

In [4]:
score1, score2 = map(int, input("점수?").split(","))
print(score1 + score2)
print("score1:", score1)
print("score2:", score2)

점수?100,200
300
score1: 100
score2: 200

In [31]:
score1, score2 = map(int, input("점수?").split(" "))
print(score1 + score2)
print("score1:", score1)
print("score2:", score2)

점수?80 90
170
score1: 80
score2: 90

In [11]:
del age1
print(score1 + int(age1))

NameError: name 'age1' is not defined

In [12]:
s = """
The open-source Anaconda Distribution is the easiest way to perform Python/R data science and machine learning on Linux, Windows, and Mac OS X. With over 11 million users worldwide, it is the industry standard for developing, testing, and training on a single machine, enabling individual data scientists to:

Quickly download 1,500+ Python/R data science packages
Manage libraries, dependencies, and environments with Conda
Develop and train machine learning and deep learning models with scikit-learn, TensorFlow, and Theano
Analyze data with scalability and performance with Dask, NumPy, pandas, and Numba
Visualize results with Matplotlib, Bokeh, Datashader, and Holoviews
"""
s.split(" ")

['\nThe',
 'open-source',
 'Anaconda',
 'Distribution',
 'is',
 'the',
 'easiest',
 'way',
 'to',
 'perform',
 'Python/R',
 'data',
 'science',
 'and',
 'machine',
 'learning',
 'on',
 'Linux,',
 'Windows,',
 'and',
 'Mac',
 'OS',
 'X.',
 'With',
 'over',
 '11',
 'million',
 'users',
 'worldwide,',
 'it',
 'is',
 'the',
 'industry',
 'standard',
 'for',
 'developing,',
 'testing,',
 'and',
 'training',
 'on',
 'a',
 'single',
 'machine,',
 'enabling',
 'individual',
 'data',
 'scientists',
 'to:\n\nQuickly',
 'download',
 '1,500+',
 'Python/R',
 'data',
 'science',
 'packages\nManage',
 'libraries,',
 'dependencies,',
 'and',
 'environments',
 'with',
 'Conda\nDevelop',
 'and',
 'train',
 'machine',
 'learning',
 'and',
 'deep',
 'learning',
 'models',
 'with',
 'scikit-learn,',
 'TensorFlow,',
 'and',
 'Theano\nAnalyze',
 'data',
 'with',
 'scalability',
 'and',
 'performance',
 'with',
 'Dask,',
 'NumPy,',
 'pandas,',
 'and',
 'Numba\nVisualize',
 'results',
 'with',
 'Matplotlib,',
 'Bokeh,',
 'Datashader,',
 'and',
 'Holoviews\n']

In [17]:
s = "\
The open-source Anaconda Distribution is the easiest \
way to perform Python/R data science and machine learning \
on Linux, Windows, and Mac OS X. With over 11 millio \
machine, enabling individual data scientists to:\
"
s.split(" " )

['The',
 'open-source',
 'Anaconda',
 'Distribution',
 'is',
 'the',
 'easiest',
 'way',
 'to',
 'perform',
 'Python/R',
 'data',
 'science',
 'and',
 'machine',
 'learning',
 'on',
 'Linux,',
 'Windows,',
 'and',
 'Mac',
 'OS',
 'X.',
 'With',
 'over',
 '11',
 'millio',
 'machine,',
 'enabling',
 'individual',
 'data',
 'scientists',
 'to:']

In [22]:
s.split(" ")

['The',
 'open-source',
 'Anaconda',
 'Distribution',
 'is',
 'the',
 'easiest',
 'way',
 'to',
 'perform',
 'Python/R',
 'data',
 'science',
 'and',
 'machine',
 'learning',
 'on',
 'Linux,',
 'Windows,',
 'and',
 'Mac',
 'OS',
 'X.',
 'With',
 'over',
 '11',
 'millio',
 'machine,',
 'enabling',
 'individual',
 'data',
 'scientists',
 'to:']

In [26]:
import re
re.split("[\n|\.]", s)

['The open-source Anaconda Distribution is the easiest way to perform Python/R data science and machine learning on Linux, Windows, and Mac OS X',
 ' With over 11 millio machine, enabling individual data scientists to:']

In [29]:
a=10
a = a+1
a +=1
a

12

In [35]:
s1 = "파이썬"
s2 = "잘하자"
s1+s2
s1*5
s2 = s2*5
s2

'잘하자잘하자잘하자잘하자잘하자'

In [43]:
str = "파이썬"
del str
a=10
b=20
a+b
str(a) + str(b)

'1020'

In [55]:
a=0
if a > 0:
    print("0보다 크다")

#숫자는 0이 아니다.     
if a:
    print("0보다 크다")
    
    
print("END")

END

In [56]:
a=''
if a !='':
    print("0보다 크다")
#str인 경우는 ''이 아니다. 
if a:
    print("0보다 크다")
    
    
print("END")

END

In [61]:

a=10<20
if a==True:
    print("0보다 크다")
#boolean은 true
if a:
    print("0보다 크다")
    
    
print("END")

0보다 크다
0보다 크다
END

In [63]:
i=0
total=0
while i<10:
    i += 1
    total += i
print(i , total, sep="->")

10->55

In [65]:
total=0
for i in [1,2,3,4,5,6,7,8,9,10]:
    total += i
print(i , total, sep="->")

10->55

In [70]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [81]:
total=0
for i in range(11):
    if i==10:
        print(i, end="=" )
    else:
        print(i, end="+" )
    total += i
print(total)

0+1+2+3+4+5+6+7+8+9+10=55

# 반복문 연습

In [14]:
score = [100,-2, 90,200,50,70,-1,90]
score[0]
score[1]
for jumsu in score:
    if jumsu < 0 :
        continue
    if (jumsu > 100):
        break
    print(jumsu)

100
90

In [ ]:
10. 앞에서 덧셈 퀴즈를 자동으로 생성해보았다. 
이번에는 덧셈, 뺄셈, 곱셈, 나눗셈 중에서 하나를 랜덤하게 선택하고 
피연산자도 난수로 생성하여 사용자에게 제시하고 
사용자의 답을 자동으로 채점하는 프로그램을 작성해보자.

In [44]:
import random
random.random() #실수 0~1
random.randint(0,10) #범위
random.randrange(6) #범위 
random.choice(['+','-','*','/']) #무작위 선택 
random.sample(range(100), 5)  #범위, 갯수만큼

[67, 40, 23, 52, 31]

In [50]:
a = random.randint(0,10)
b = random.randint(0,10)
op = random.choice(['+','-','*','/'])
print(a, op, b, end=" = ")
if op=='+':
    print(a+b)
elif op=='-':
    print(a-b)
elif op=='*':
    print(a*b)
else:
    print(a/b)

10 * 2 = 20

In [51]:
# 14. 1부터 99까지 2자리의 정수로 이루어진 복권이 있다고 하자. 
# 2자리가 전부 일치하면 1등상 100만원을 받는다. 
# 2자리 중에서 하나만 일치하면 50만원을 받고 하나도 일치하지 않으면 상금은 없다. 
# 복권 번호는 난수로 생성하도록 하자.

In [61]:
a = random.randint(1,100)
num1 = a // 10
num2 = a % 10
myinput = int( input("내가산 복권숫자?") )
num3 = myinput // 10
num4 = myinput % 10

if num1 == num3 and num2 == num4:
    print("1등상 100만원")
elif  num1 == num3 or num2 == num4 or num1 == num4 or num2 == num3:   
    print("2등상 50만원")
else:
    print("꽝!~!")
print(a)

내가산 복권숫자?43
꽝!~!
89

In [62]:
#1. 2부터 100 사이의 모든 짝수를 출력하는 반복 루프를 작성한다. 
for i in range(2, 101, 2):
    print(i, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [65]:
#2. 어떤 사람이 복리이자율 7%로 1000만원을 저금했을 경우에 
#2000만원이 되는데 몇 년이 걸리는지 계산하기 위하여 다음과 코드를 작성하였다. 
#잘못된 점은 없는지 체크해보자. 
year = 0
balance = 1000

while balance < 2000 :
	year = year + 1
	interest = balance * 0.07
	balance = balance + interest
print(year)

11

In [66]:
count = 0
while count <= 10:
	print("Hi !")
	count = count + 1
print(count)

Hi !
Hi !
Hi !
Hi !
Hi !
Hi !
Hi !
Hi !
Hi !
Hi !
Hi !
11

In [72]:
n = 6751
sum = 0
while n > 0 :
    digit = n % 10
    sum = sum + digit
    n = n // 10 
print(sum)

19

In [75]:
total = 0
while True:
    su = int(input("정수를 입력하시오:"))
    if su == 0:break
    total += su
    
print(total)

정수를 입력하시오:1
정수를 입력하시오:2
정수를 입력하시오:3
정수를 입력하시오:0
6

In [83]:
min = 10
del min

su1 = int(input("정수를 입력하시오:"))
su2 = int(input("정수를 입력하시오:"))
su3 = min(su1, su2)
for i in range(su3, 0, -1):
    if su1 % i ==0 and su2 % i ==0:
        break
print(i)

정수를 입력하시오:10
정수를 입력하시오:5
5

In [81]:
total=0
for i in range(1,100,2):
    total += i / (i+2)
print(total)

46.10464832285218

In [96]:
#import random
from random import randint

for i in range(0,10):
    d1 = randint(1,6)
    d2 = randint(1,6)
    print("첫번째:" , d1 , " 두번째:", d2)
    print("첫번째:%d 두번째:%d" %(d1 , d2))
    print("---------첫번째:" + str(d1) + " 두번째:"+ str(d2))

첫번째: 6  두번째: 3
첫번째:6 두번째:3
---------첫번째:6 두번째:3
첫번째: 3  두번째: 4
첫번째:3 두번째:4
---------첫번째:3 두번째:4
첫번째: 4  두번째: 3
첫번째:4 두번째:3
---------첫번째:4 두번째:3
첫번째: 1  두번째: 3
첫번째:1 두번째:3
---------첫번째:1 두번째:3
첫번째: 4  두번째: 1
첫번째:4 두번째:1
---------첫번째:4 두번째:1
첫번째: 5  두번째: 2
첫번째:5 두번째:2
---------첫번째:5 두번째:2
첫번째: 4  두번째: 3
첫번째:4 두번째:3
---------첫번째:4 두번째:3
첫번째: 2  두번째: 3
첫번째:2 두번째:3
---------첫번째:2 두번째:3
첫번째: 5  두번째: 4
첫번째:5 두번째:4
---------첫번째:5 두번째:4
첫번째: 2  두번째: 5
첫번째:2 두번째:5
---------첫번째:2 두번째:5

In [97]:
abs(-10)

10

In [99]:
chr(65), chr(97)

('A', 'a')

In [102]:
a=100
b="파이썬"
dir(a)
dir(b)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [103]:
a=10
b=2
divmod(a,b)

(5, 0)

In [124]:
a = enumerate(["월","화","수"])

In [125]:
list(a)

[(0, '월'), (1, '화'), (2, '수')]

In [126]:
for idx, val in enumerate(["월","화","수"]):
    print(idx, val)

0 월
1 화
2 수

In [132]:
a=10
b="파이썬"
c=True
d=[1,2,3,4,5]
e = (1,2,3,4,5)
f = {"name" : "정", "subject": "python"}
type(a) #int
type(b) #str
type(c) #bool
type(d)  #list
type(e)  #tuple
type(f)  #dict

dict

In [134]:
list(zip([1,2,3], [4,5,6]))

[(1, 4), (2, 5), (3, 6)]

In [135]:
def myprint(a,b,c):
    print("첫번째=%d, 두번째=%d, 세번째=%d" %(a,b,c))

In [140]:
def myprint2( *args ):
    print("첫번째=%d, 두번째=%d, 세번째=%d" %(args[0],args[1],args[2]))
    
    for item in args:
        print(item)

In [137]:
myprint(1,2,3)
myprint(10,20,30)

첫번째=1, 두번째=2, 세번째=3
첫번째=10, 두번째=20, 세번째=30

In [142]:
alist = [40,50,60,70,80,90]
myprint2(*alist)

첫번째=40, 두번째=50, 세번째=60
40
50
60
70
80
90

In [159]:
def myrange( e, s=0,  step=1):
    for val in range(s, e+1, step):
        print(val)

In [162]:
myrange(10, 2, 2)

2
4
6
8
10