In [ ]:
from selenium import webdriver
import time
from DBMgr import DBHelper
from bs4 import BeautifulSoup
import re

db = DBHelper()


browser = webdriver.Chrome("./chromedriver.exe")
url = "http://tour.interpark.com/"
browser.get(url)
browser.find_element_by_id("SearchGNBText").clear()
browser.find_element_by_id("SearchGNBText").send_keys("유럽")
browser.find_element_by_css_selector(".search-btn").click()

browser.implicitly_wait(10)
browser.find_element_by_css_selector(".moreBtn").click()


pages = 2
for page in range(1,pages+1):
    #자바스크립트 구동하기 : browser.execute_script()  
    print("%d 페이지가 시작됨" %page)
    browser.execute_script("searchModule.SetCategoryList(%d, 'R')" %page  )
    html = browser.page_source
    soup = BeautifulSoup(html, "html.parser")
    selector = "div.oTravelBox > ul > li"
    datas = browser.find_elements_by_css_selector(selector)
    tour_list={}

    for li in datas:    
        title = li.find_element_by_css_selector("h5.proTit").text.strip()
        if not title:
            title = li.find_element_by_css_selector("h5").get_attribute("aria-label")
            
        detail_str = li.find_element_by_css_selector("h5").get_attribute("onclick") #'URL', 'URL2'
        detail_url = detail_str.split("'")[1]   #aaaaa'URL1','URL2'  
        tour_list[detail_url] = title

    #상세보기
    for detail_url, title in tour_list.items():
        print("url:", detail_url)
        print("title:", title)

        browser.get(detail_url)
        soup = BeautifulSoup(browser.page_source, "html.parser")
        #가격과 일정을 가져온다. 
        period = soup.select_one("#dBody > div.default-section.goods-info > div.info-section > table > tbody > tr.period > td").text
        price = soup.select_one("#dBody > div:nth-child(3) > div.data-choice > div.total-price > p > strong > em").text
        period = re.findall('.*~.*]',period)[0].strip()
        
        print("기간:" , period)
        print("가격:" , price)
        
        db.insert(title,url,period,price)
        
        print("--------------------------------------------")
        browser.back()

    
browser.quit()

1 페이지가 시작됨
url: http://tour.interpark.com/goods/detail/?BaseGoodsCd=B3011450
title: [맞춤 여행]서유럽 자유 여행 맞춤 견적 문의
기간: 2019.02.21 [목] ~ 2019.02.21 [목]
가격: 10,000

In [55]:
import sys
sys.modules["pymysql"]
#sys.modules["DBMgr"]

In [ ]:
#create database pythonDB

In [36]:
import pymysql
conn = pymysql.connect(host="localhost", user="root", password="1234", db="pythonDB",
                      charset="utf8")
cur = conn.cursor()
sql = """
     create table if not exists interparkTour ( 
       id int(10) not null auto_increment,
       title varchar(100) ,
       url varchar(100),
       period varchar(50),
       price varchar(20),
       primary key(id) 
     ) default charset=utf8

"""
cur.execute(sql)
conn.close()

In [1]:
%%writefile DBMgr.py

import pymysql
class DBHelper:
    conn = None
    def __init__(self):
        self.db_connect()
    
    def db_connect(self):
        self.conn = pymysql.connect(host="localhost", user="root", password="1234", db="pythonDB",
                      charset="utf8")
        
    def db_disconnect(self):
        if self.conn:
            self.conn.close()
            
    def selectAll(self):
        with self.conn.cursor() as cur:
            sql = "select * from interparkTour"
            cur.execute(sql)
            rows = cur.fetchall()
        return rows
        
    def insert(self,title, url, period, price):
        with self.conn.cursor() as cur:
            sql = """
                  insert into interparkTour(title, url, period, price) 
                  values(%s,%s,%s,%s)
                  """
            cur.execute(sql,(title, url, period, price))
        self.conn.commit()

#현재class가 단독으로 실행할때만 수행한다. 
if __name__ == '__main__':
        db = DBHelper()
        db.insert('title sample','url sample','기간 sample','10000')
        print(db.selectAll())
        db.db_disconnect()

Overwriting DBMgr.py

In [ ]:
headers = {"Referer" : "http://search-tour.interpark.com/PC/", "User-Agent" : "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/72.0.3626.109 Safari/537.36"}
params = {"word" : "유럽", "categorycode1" : "R", "offset" : 1, "pageSize" : 20, "filterFlag" : "false"}

response = requests.post("http://search-tour.interpark.com/Payco/Search/GetPaycoResultForCategory", 
              headers = headers, params = params) 

#response.text
jsonObj = response.json()
datalist = jsonObj["datalist"]
for row in datalist:
    print("상품명:", row["goodsname"])
    print("출발일:", row["startdate"])
    print("도착일:", row["enddate"])
    print("상세보기:", row["goodsurl"])
    print("가격:", row["price"])
    print("----------------------------------")

In [ ]:
import requests, json, locale

def getObject(source, keySet) :
    obj = source
    for key in keySet:
        obj = obj.get(key)
    return obj

def getAttrs(rows, attrSet) :
    tuples = []
    for row in rows:
        tuple =  {}
        for attr in attrSet :
            tuple.update({attr:row.get(attr)})
        tuples.append(tuple)     
    return tuples

headers = {"Referer" : "http://search-tour.interpark.com/PC/", "User-Agent" : "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/72.0.3626.109 Safari/537.36"}
params = {"word" : "유럽", "categorycode1" : "R", "offset" : 1, "pageSize" : 1000000, "filterFlag" : "false"}
with requests.post("http://search-tour.interpark.com/Payco/Search/GetPaycoResultForCategory", headers = headers, params = params) as response :
    datalist = getObject(json.loads(response.text), ["datalist"])
    locale.setlocale(locale.LC_ALL, '') 
    for idx, data in enumerate(datalist) :
        print("---------- {}. {} ----------".format(idx+1, data["goodsname"]))
        print("airline: {}\nprice: \ {}\ngoodsurl: {}\ntripday: {}\ncontent:{}".format(data["airline"], locale.format('%.3d', float(data["price"]), 1), data["goodsurl"], data["tripday"], data["content1"]))
        print()
        #db.insert(data["goodsname"], data["goodsurl"], data["tripday"], locale.format('%.3d', float(data["price"]), 1))

# Numpy

In [71]:
import numpy as np
import imp
imp.reload(numpy)

In [108]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\user\anaconda3\envs\encore\lib\site-packages (1.16.1)

In [72]:
#numpy의 배열은 동일타입의 값들의 모임 
#첫번째의 데이타의 타입으로 dtype이 결정된다. 
arr = np.array([1,2,3,4,5])
arr = np.array(['1',2,3,4,5])
arr = np.array([3.14,2,3,4,5])
print("arr=", arr)
print("arr type=", type(arr))
print("arr value=", arr[0])
print("arr value=", type(arr[0]))  #dtype
print("arr value=", arr[1])
print("arr value=", type(arr[1]))  #dtype

arr= [3.14 2.   3.   4.   5.  ]
arr type= <class 'numpy.ndarray'>
arr value= 3.14
arr value= <class 'numpy.float64'>
arr value= 2.0
arr value= <class 'numpy.float64'>

In [73]:
import timeit

def f():
    data = [1,2,3,4,5,6,7,8,9,10]
    answer = []
    for i in data:
        answer.append(i**2)

timeit.timeit(f)

4.430205763026089

In [75]:
import timeit

def f():
    data = np.array([1,2,3,4,5,6,7,8,9,10])
    answer = data ** 2

timeit.timeit(f)

3.6241874918584074

In [76]:
timeit.timeit('[i**2 for i in arr]', setup='arr=range(10)')

3.574375810620211

In [78]:
timeit.timeit('arr**2', setup='import numpy as np;arr=np.arange(10)')

0.6309292091367524

In [ ]:
#벡터화 연산

In [79]:
arr2 = np.array([1,2,3])
arr3 = np.array([10,20,30])
arr2 * arr3

array([10, 40, 90])

In [80]:
arr2 == 2

array([False,  True, False])

In [83]:
(arr2 == 2 ) | (arr3 >= 20)
(arr2 == 2 ) & (arr3 >= 20)

array([False,  True, False])

In [84]:
arr2 + 10

array([11, 12, 13])

In [88]:
#1차원
A = np.array([1,2,3,4])
print("차원:" , A.ndim)
print("shape:" , A.shape) #(4,)  (4,3), (4,3,5)
print("shape:" , A.shape[0])
print("개수:" , len(A))

차원: 1
shape: (4,)
shape: 4
개수: 4

In [91]:
a = (1,)
type(a)

tuple

In [93]:
#2차원
A = np.array([[1,2,3,4]])
print("차원:" , A.ndim)
print("shape:" , A.shape) #(4,)  (4,3), (4,3,5)
print("shape:" , A.shape[0]) #행
print("shape:" , A.shape[1]) #열 
print("행의 개수:" , len(A))
print("열의 개수:" , len(A[0]))

차원: 2
shape: (1, 4)
shape: 1
shape: 4
행의 개수: 1
열의 개수: 4

In [103]:
#정방 
B = np.array([[1,2,3,4],[5,6,7,8],[7,8,9, 9]])
print("차원 B.ndim=", B.ndim)
print("B.shape=", B.shape)
print("B.shape=", B.shape[0])
print("B.shape=", B.shape[1])
print("행의개수 =", len(B))
print("열의 개수 =", len(B[0]))
B

차원 B.ndim= 2
B.shape= (3, 4)
B.shape= 3
B.shape= 4
행의개수 = 3
열의 개수 = 4

array([[1, 2, 3, 4],
       [5, 6, 7, 8],
       [7, 8, 9, 9]])

In [102]:
#정방 
B = np.array([[[1,2,3,4],[5,6,7,8],[7,8,9, 9]],[[1,2,3,4],[5,6,7,8],[7,8,9, 9]]])
print("차원 B.ndim=", B.ndim)
print("B.shape=", B.shape)
print("B.shape=", B.shape[0])
print("B.shape=", B.shape[1])
print("B.shape=", B.shape[2])
print("면의개수 =", len(B))
print("행의 개수 =", len(B[0]))
print("열의 개수 =", len(B[0][0]))
B

차원 B.ndim= 3
B.shape= (2, 3, 4)
B.shape= 2
B.shape= 3
B.shape= 4
면의개수 = 2
행의 개수 = 3
열의 개수 = 4

array([[[1, 2, 3, 4],
        [5, 6, 7, 8],
        [7, 8, 9, 9]],

       [[1, 2, 3, 4],
        [5, 6, 7, 8],
        [7, 8, 9, 9]]])

In [107]:
A = np.array([1,2,3,4,5])
print("ndim=", A.ndim)
print(A)

A.shape = 1,5
print("ndim=", A.ndim)
print(A)

ndim= 1
[1 2 3 4 5]
ndim= 2
[[1 2 3 4 5]]

In [14]:
#1차원
import numpy as np
arr = np.array([1,2,3,4,5])
for idx, data in enumerate(arr):
    print(idx, data)
print("*"*80)

for idx in range(len(arr)):
    print(idx, '-->', arr[idx])
print("*"*80)

print(arr.shape)

for idx in range(arr.shape[0]):
    print(idx, '-->', arr[idx])

0 1
1 2
2 3
3 4
4 5
********************************************************************************
0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5
********************************************************************************
(5,)
0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5

In [3]:
enumerate(np.array([1,2,3,4,5]))

In [23]:
#2차원
import numpy as np

arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])
for idx, data in enumerate(arr):
    for idx2, data2 in enumerate(data):
        print("arr[{}][{}]={} ".format(idx, idx2, data2), end="  ")
    print()
print("*"*80)
##################################################################
for idx in range(len(arr)):
    for idx2 in range(len(arr[idx])):
        print("arr[{}][{}]={}".format(idx, idx2, arr[idx][idx2]) , end=" ")
    print()
print("*"*80)

# print(arr.shape) #2,4

for idx in range(arr.shape[0]):
    for idx2 in range(arr.shape[1]):
        print("arr[{}][{}]={}".format(idx, idx2, arr[idx][idx2]) , end=" ")
    print()

arr[0][0]=1   arr[0][1]=2   arr[0][2]=3   arr[0][3]=4   arr[0][4]=5
arr[1][0]=6   arr[1][1]=7   arr[1][2]=8   arr[1][3]=9   arr[1][4]=10
********************************************************************************
arr[0][0]=1 arr[0][1]=2 arr[0][2]=3 arr[0][3]=4 arr[0][4]=5
arr[1][0]=6 arr[1][1]=7 arr[1][2]=8 arr[1][3]=9 arr[1][4]=10
********************************************************************************
arr[0][0]=1 arr[0][1]=2 arr[0][2]=3 arr[0][3]=4 arr[0][4]=5
arr[1][0]=6 arr[1][1]=7 arr[1][2]=8 arr[1][3]=9 arr[1][4]=10

In [26]:
#2차원
import numpy as np

alist = [[[1,2,3,4,5],[6,7,8,9,10]],[[1,2,3,4,5],[6,7,8,9,10]],[[1,2,3,4,5],[6,7,8,9,10]]]

arr = np.array(alist)
for idx, data in enumerate(arr):
    for idx2, data2 in enumerate(data):
        for idx3, data3 in enumerate(data2):
            print("arr[{}][{}][{}]={} ".format(idx, idx2, idx3,  data3), end="  ")
        print()
    print()
print("*"*80)
##################################################################
# for idx in range(len(arr)):
#     for idx2 in range(len(arr[idx])):
#         print("arr[{}][{}]={}".format(idx, idx2, arr[idx][idx2]) , end=" ")
#     print()
# print("*"*80)

# # print(arr.shape) #3,2,5

for idx in range(arr.shape[0]):
    for idx2 in range(arr.shape[1]):
        for idx3 in range(arr.shape[2]):
            print("arr[{}][{}][{}]={}".format(idx, idx2,idx3,  arr[idx][idx2][idx3]) , end=" ")
        print()
    print()

arr[0][0][0]=1   arr[0][0][1]=2   arr[0][0][2]=3   arr[0][0][3]=4   arr[0][0][4]=5
arr[0][1][0]=6   arr[0][1][1]=7   arr[0][1][2]=8   arr[0][1][3]=9   arr[0][1][4]=10

arr[1][0][0]=1   arr[1][0][1]=2   arr[1][0][2]=3   arr[1][0][3]=4   arr[1][0][4]=5
arr[1][1][0]=6   arr[1][1][1]=7   arr[1][1][2]=8   arr[1][1][3]=9   arr[1][1][4]=10

arr[2][0][0]=1   arr[2][0][1]=2   arr[2][0][2]=3   arr[2][0][3]=4   arr[2][0][4]=5
arr[2][1][0]=6   arr[2][1][1]=7   arr[2][1][2]=8   arr[2][1][3]=9   arr[2][1][4]=10

********************************************************************************
arr[0][0][0]=1 arr[0][0][1]=2 arr[0][0][2]=3 arr[0][0][3]=4 arr[0][0][4]=5
arr[0][1][0]=6 arr[0][1][1]=7 arr[0][1][2]=8 arr[0][1][3]=9 arr[0][1][4]=10

arr[1][0][0]=1 arr[1][0][1]=2 arr[1][0][2]=3 arr[1][0][3]=4 arr[1][0][4]=5
arr[1][1][0]=6 arr[1][1][1]=7 arr[1][1][2]=8 arr[1][1][3]=9 arr[1][1][4]=10

arr[2][0][0]=1 arr[2][0][1]=2 arr[2][0][2]=3 arr[2][0][3]=4 arr[2][0][4]=5
arr[2][1][0]=6 arr[2][1][1]=7 arr[2][1][2]=8 arr[2][1][3]=9 arr[2][1][4]=10

In [35]:
arr = np.array([1,2,3,4,5])
type(arr)
type(arr[0])
arr.dtype


#파이썬의 int객체 
a=10
print(type(a), isinstance(a, np.generic))
#numpy의 스칼라객체 
a= np.int32(10)
print(type(a), isinstance(a, np.generic))

a + [1,2,3]

<class 'int'> False
<class 'numpy.int32'> True

array([11, 12, 13])

In [42]:
arr = np.int32(1) + [10,20,30]
print(type(arr), arr, arr.shape, arr.ndim)

<class 'numpy.ndarray'> [11 21 31] (3,) 1

In [43]:
#브로드캐스팅 
arr = np.array([1,2,3]) + 10
print(type(arr), arr, arr.shape, arr.ndim)

<class 'numpy.ndarray'> [11 12 13] (3,) 1

In [58]:
A = np.zeros(5, dtype= np.int64)  #int32  생략하면 float64
print(A, A.ndim, type(A), A.shape, A.dtype)
A[0]= 2147483648
print(A)

[0 0 0 0 0] 1 <class 'numpy.ndarray'> (5,) int64
[2147483648          0          0          0          0]

In [55]:
A = np.zeros(5, dtype="U4")  # U:Unicode 1자, U4:4문자     i : int32  생략하면 float64
print(A, A.ndim, type(A), A.shape, A.dtype)
A[0] = "파이썬입니다."
print(A)

['' '' '' '' ''] 1 <class 'numpy.ndarray'> (5,) <U4
['파이썬입' '' '' '' '']

In [49]:
A = np.zeros((2,3))
print(A, A.ndim, type(A), A.shape, A.dtype)

[[0. 0. 0.]
 [0. 0. 0.]] 2 <class 'numpy.ndarray'> (2, 3) float64

In [50]:
A = np.zeros((2,3), dtype=np.int64)
print(A, A.ndim, type(A), A.shape, A.dtype)

[[0 0 0]
 [0 0 0]] 2 <class 'numpy.ndarray'> (2, 3) int64

In [47]:
A = np.ones((2,3))
print(A, A.ndim, type(A), A.shape, A.dtype)

[[1. 1. 1.]
 [1. 1. 1.]] 2 <class 'numpy.ndarray'> (2, 3) float64

In [59]:
A = np.ones((2,3,4))
print(A, A.ndim, type(A), A.shape, A.dtype)

[[[1. 1. 1. 1.]
  [1. 1. 1. 1.]
  [1. 1. 1. 1.]]

 [[1. 1. 1. 1.]
  [1. 1. 1. 1.]
  [1. 1. 1. 1.]]] 3 <class 'numpy.ndarray'> (2, 3, 4) float64

In [62]:
C = np.empty((2,3,4))
print(C, C.ndim, type(C), C.shape, C.dtype)

[[[1. 1. 1. 1.]
  [1. 1. 1. 1.]
  [1. 1. 1. 1.]]

 [[1. 1. 1. 1.]
  [1. 1. 1. 1.]
  [1. 1. 1. 1.]]] 3 <class 'numpy.ndarray'> (2, 3, 4) float64

In [67]:
C = np.empty((2,3,3))
print(C, C.ndim, type(C), C.shape, C.dtype)

[[[1.24290579e-311 4.84184333e-322 0.00000000e+000]
  [0.00000000e+000 1.33508845e-306 1.16095484e-028]
  [5.28595592e-085 4.48036926e-067 4.07175423e+223]]

 [[1.79383360e-095 1.10156806e-094 6.37290108e-110]
  [2.16209973e+233 1.12959198e+277 8.93176403e+271]
  [4.98131536e+151 1.78820115e-047 6.89805151e-307]]] 3 <class 'numpy.ndarray'> (2, 3, 3) float64

In [76]:
np.arange(10)
np.arange(0,10,1)
A = np.arange(0,50,10)
A = np.arange(0, 1, 0.2)
A = np.arange(0.1, 2.5, 0.1)
print(A, A.size)

[0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1.  1.1 1.2 1.3 1.4 1.5 1.6 1.7 1.8
 1.9 2.  2.1 2.2 2.3 2.4] 24

In [81]:
np.linspace(1, 10, 10)

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [89]:
A = np.arange(16)
A[0] = 99
print(A, type(A), A.ndim, A.base, A.base is B)

[99  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15] <class 'numpy.ndarray'> 1 None False

In [91]:
B = A.reshape(4,4)
print(B, type(B), B.ndim, B.base, B.base is A)

[[99  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]] <class 'numpy.ndarray'> 2 [99  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15] True

In [93]:
B[0][1] = 88
print(B, type(B), B.ndim, B.base, B.base is A)
print(A)

[[99 88  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]] <class 'numpy.ndarray'> 2 [99 88  2  3  4  5  6  7  8  9 10 11 12 13 14 15] True
[99 88  2  3  4  5  6  7  8  9 10 11 12 13 14 15]

In [98]:
A = np.arange(16)
A

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [99]:
B = A.reshape(2,8).copy()
B[0]=99
print(A)
print(B)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]
[[99 99 99 99 99 99 99 99]
 [ 8  9 10 11 12 13 14 15]]

In [100]:
A = np.arange(16)
B = A.reshape(4, -1)
B

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [101]:
A = np.arange(16)
B = A.reshape(8, -1)
B

array([[ 0,  1],
       [ 2,  3],
       [ 4,  5],
       [ 6,  7],
       [ 8,  9],
       [10, 11],
       [12, 13],
       [14, 15]])

In [102]:
A = np.arange(16)
B = A.reshape(-1, 8)
B

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15]])

In [105]:
C = B.ravel()
C

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [106]:
C.base is B

False

In [107]:
C.base is A

True

In [112]:
A = np.arange(16)
B = A.reshape(4,-1)
A

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [113]:
A = np.arange(16)
A.resize(2,8)
A

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15]])

In [125]:
A = np.array([[1,2],[3,4]])
B = np.array([[5,6],[7,8]])
C = np.vstack((A,B))  #행추가 ....view가 아니다. 새로 생성된 배열이다. 
D = np.hstack((A,B))  #열추가 

C[0][0] = 99
C[1] = 88
C[:] = -1

D[:] = -2
print(A)
print(B)
print(C)
print(D)

[[1 2]
 [3 4]]
[[5 6]
 [7 8]]
[[-1 -1]
 [-1 -1]
 [-1 -1]
 [-1 -1]]
[[-2 -2 -2 -2]
 [-2 -2 -2 -2]]