In [ ]:
#review

In [5]:
a=10
b="파이썬"
c=True
d=[1,2,3,4,5]
e=(1,2,3,4,5)
f={"name":"엔코아", "address":"교대역"}
print(a,b,c,d,e,f)
print(type(a),type(b),type(c),type(d),type(e),type(f))

10 파이썬 True [1, 2, 3, 4, 5] (1, 2, 3, 4, 5) {'name': '엔코아', 'address': '교대역'}
<class 'int'> <class 'str'> <class 'bool'> <class 'list'> <class 'tuple'> <class 'dict'>

In [21]:
def f1():
    print("return없는 함수")
    
def f2():
    print("return있는 함수")    
    return 10

def f3(p1):
    print("parameter있는 함수")    
    return 10 + p1

def f4(p1, p2=20):
    print("parameter가 default가 있는 함수")    
    return 10 + p1 + p2

def f5(p1, *p2):
    print("parameter가 여러개 있는 함수")    
    total = 0
    for item in p2:
        total += item
    return total + p1

In [23]:
a = f1()
print(a, "\n")

a = f2()
print(a, "\n")

a = f3(20)
print(a, "\n")


a = f4(20)
print(a, "\n")

a = f4(20, 30)
print(a, "\n")


alist = [1,2,3,4,5]
blist = (1,2,3,4,5)
a = f5(10, *[1,2,3,4,5])
print(a, "\n")
a = f5(10, *(1,2,3,4,5))
print(a, "\n")

return없는 함수
None

return있는 함수
10

parameter있는 함수
30

parameter가 default가 있는 함수
50

parameter가 default가 있는 함수
60

parameter가 여러개 있는 함수
25

parameter가 여러개 있는 함수
25

In [31]:
def f8(**person):
    print("parameter의 형태가 키:값의 형태")
    for key, val in person.items():
        print(key, val, sep="->")

In [34]:
def f7(name, age, job):
    print(name, age, job)

In [35]:
f7("송혜교", 20, "연예인")
f7(job="연예인", name="송혜교", age=20)

a = { "name":"송혜교", "age":30, "job":"학생" }
f8(**a)

송혜교 20 연예인
송혜교 20 연예인
parameter의 형태가 키:값의 형태
name->송혜교
age->30
job->학생

In [ ]:
#재귀함수

In [41]:
def mypint(n):
    if n == 0: 
        return
    print("파이썬", n)
    mypint(n-1)

In [42]:
mypint(5)

파이썬 5
파이썬 4
파이썬 3
파이썬 2
파이썬 1

In [47]:
def myfact(n):
    print(n, end="*")
    if n == 1:
        return 1
    
    return n * myfact(n-1)

In [48]:
myfact(5)

5*4*3*2*1*

120

In [49]:
def f1(x):
    return x+10

In [50]:
f1(1)

11

In [54]:
f2 = lambda x : x + 10 
print(f2, type(f2))

<function <lambda> at 0x0000020AFBF67950> <class 'function'>

In [53]:
f2(2)
(lambda x : x + 10 )(2)

12

In [63]:
f = lambda x : x+10
list(map(lambda x : x+10, [1,2,3]))

[11, 12, 13]

In [66]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]
f = lambda x,y : x+y
list(map(f, a , b))

[7, 9, 11, 13, 15]

In [69]:
import operator
type(operator.add)

list(map(operator.add, a , b))

[7, 9, 11, 13, 15]

In [70]:
def f(x):
    if x % 3 == 0:
        return str(x)
    else:
        return x

In [79]:
f = lambda x : str(x) if x % 3 == 0 else x+90

In [74]:
f(6)

'6'

In [81]:
alist = [1,2,3,4,5,6,7,8,9,10]
blist = range(1,11)
list(map( f, blist))

[91, 92, '3', 94, 95, '6', 97, 98, '9', 100]

In [ ]:
def f(x):
    if x ==1:
        return str(x)
    elif x == 2:
        return float(x)
    else:
        return x

In [90]:
f = lambda x : str(x) if x ==1  else float(x)   if x == 2 else  x
f(1)
f(2)
f(3)
list(map(f, alist))

['1', 2.0, 3, 4, 5, 6, 7, 8, 9, 10]

In [96]:
alist = [1,2,3,4,5,6,7,8,9,10]
blist = range(10,101,10)
f = lambda x, y : x*y if x >=3 and x<=5  else x+y
list(map(f, alist, blist))

[11, 22, 90, 160, 250, 66, 77, 88, 99, 110]

In [101]:
alist = [1,2,3,4,5,6,7,8,9,10]
# for i in alist:
#     if i>=5:
#         print(i)

[i for i in alist if i>=5]
list(i for i in alist if i>=5)

[5, 6, 7, 8, 9, 10]

In [105]:
list(filter(lambda x : x>=5, alist))

[5, 6, 7, 8, 9, 10]

In [ ]:
#5<= <=8

In [107]:
list(filter( lambda x : x>=5 and x<=8 , alist))

[5, 6, 7, 8]

In [ ]:
import functools
functools.reduce

In [112]:
alist = [10,20,30,40,50,60,70,80,90,100]
from functools import reduce
f = lambda x,y : x*y
reduce(f,alist)

36288000000000000

In [115]:
price=1000
def f():
    price=500  #지역변수 
    print("함수내에서:", price)
    
print("함수밖에서:", price)
f()
print("함수밖에서:", price)

함수밖에서: 1000
함수내에서: 500
함수밖에서: 1000

In [138]:
a=10
b=True
price=1000
def f(param1, param2):
    "함수에 대한 설명입니다.......이 함수는 ~~~~~"
    global price
    price=500  #전역변수 
    localval = 100
    localval2 = 200
    print("함수내에서:", price)
    print("함수내에서:localval2=", localval2) #200
    def innerF():
        a=10
        nonlocal localval2 #함수밖의 변수이다..
        localval2 = 300
        print("inner Function:a=" , a )
        print("inner Function:price=" , price )
        print("inner Function:localval2=" , localval2 )#300
        
    innerF()
    print(" 함수 호출후 .....localval2=", localval2)#300
    
    
print("함수밖에서:", price)
f(10,20)
print("함수밖에서:", price)

함수밖에서: 1000
함수내에서: 500
함수내에서:localval2= 200
inner Function:a= 10
inner Function:price= 500
inner Function:localval2= 300
 함수 호출후 .....localval2= 300
함수밖에서: 500

In [135]:
print(f.__doc__)
print(f.__name__)
code = f.__code__
print(code)
print(code.co_name)#함수이름 
print(code.co_argcount) #
print(code.co_varnames) #
print(code.co_nlocals) #

함수에 대한 설명입니다.......이 함수는 ~~~~~
f
<code object f at 0x0000020AFC081930, file "<ipython-input-132-3a90bbade8a9>", line 4>
f
2
('param1', 'param2', 'localval', 'localval2')
4

In [125]:
dir(f)

['__annotations__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [142]:
del abs
abs(-10)

10

In [140]:
abs = 100

In [143]:
getattr(__builtin__, "abs")

In [145]:
#dir(__builtin__)

In [147]:
globals()["a"]

10

In [149]:
locals()["a"]

10

In [151]:
v1=10
def calc(p1, p2):
    p3 = 100
    print(p1+p2)
    print(locals())
print(globals()["v1"])    
calc(1,2)

10
3
{'p3': 100, 'p2': 2, 'p1': 1}

In [160]:
def calc():
    x=1
    def add(a,b):
        nonlocal x
        x = a+b+x
        return x
    print(add(1,2))
    print(add(3,4))

In [161]:
calc()

4
11

In [162]:
def calc():
    x=1
    def add(a,b):
        nonlocal x
        x = a+b+x
        return x
    return add

In [165]:
f = calc()
f(1,2)
f(3,4)

11

In [185]:
#counter함수 
def counter(s):
    v1 = s
    def f2():
        nonlocal v1 
        v1 = v1 + 1
        return v1
    return f2

In [186]:
c1 = counter(0)
print(c1)
#v1=0
# def f2():
#         nonlocal v1 
#         v1 = v1 + 1
#         return v1
    
c2 = counter(100)
print(c1())
print(c1())
print(c1())
print(c2())
print(c2())
print(c2())

<function counter.<locals>.f2 at 0x0000020AFC09B730>
1
2
3
101
102
103

In [180]:
a=0
b=0
def counter(v):
    return v+1

In [183]:

a = counter(a)
print(a)
b = counter(b)
print(b)

3
103

In [189]:
s = "python"
for a in s:
    print(a, end=" , ")

p , y , t , h , o , n ,

In [196]:
#위치이용 
print(s[2])
print(s[-1])
#slicing
print(s[2:5]) #2<=  <5
print(s[2:]) #2<=  끝까지 
print(s[:5]) # 0<=  <5
print(s[:]) # 전체 
print(s[2:-2]) # 시작은 앞에서부터 2<=  끝은 뒤에서부터 <-2

t
n
tho
thon
pytho
python
th

In [210]:
s = "   python-  " * 3
print(s)

   python-     python-     python-

In [204]:
print(len(s))
print(s.find('z')) #찾는 문자열이 없다면 -1
print(s.index('y')) #찾는 문자열이 없다면 에러

21
-1
1

In [209]:
s.capitalize()
s.title()
s #s는 변경되지 않는다.

'python- python- python- '

In [217]:
s.lstrip()
s.rstrip()
s.strip()
s.strip().split()

['python-', 'python-', 'python-']

In [221]:
s ="""


(세종=연합뉴스) 윤종석 기자 = 올해 1월 1일 기준으로 전국 표준지 50만 필지의 공시지가가 1년 전에 비해 9.42% 오른 것으로 집계됐다.

앞서 표준 단독주택은 시세 15억원 이상 고가주택의 공시가격을 많이 올렸다면, 표준지는 ㎡당 2천만원이 넘는 고가토지를 중심으로 공시가를 집중적으로 상향 조정했다.

작년 개발호재로 땅값이 많이 오르거나 그동안 저평가된 고가 토지가 많은 서울, 부산, 광주 등지는 상승률이 10%를 넘겼다.

시세 대비 공시가격의 비율인 현실화율은 작년 62.6%에서 2.2% 포인트 상승한 64.8%로 파악됐다.

국토교통부는 12일 정부세종청사에서 전국 표준지 공시지가 상승률을 공개했다.



"""
s.splitlines()

['',
 '',
 '',
 '(세종=연합뉴스) 윤종석 기자 = 올해 1월 1일 기준으로 전국 표준지 50만 필지의 공시지가가 1년 전에 비해 9.42% 오른 것으로 집계됐다.',
 '',
 '앞서 표준 단독주택은 시세 15억원 이상 고가주택의 공시가격을 많이 올렸다면, 표준지는 ㎡당 2천만원이 넘는 고가토지를 중심으로 공시가를 집중적으로 상향 조정했다.',
 '',
 '작년 개발호재로 땅값이 많이 오르거나 그동안 저평가된 고가 토지가 많은 서울, 부산, 광주 등지는 상승률이 10%를 넘겼다.',
 '',
 '시세 대비 공시가격의 비율인 현실화율은 작년 62.6%에서 2.2% 포인트 상승한 64.8%로 파악됐다.',
 '',
 '국토교통부는 12일 정부세종청사에서 전국 표준지 공시지가 상승률을 공개했다.',
 '',
 '',
 '']

In [223]:
s = "PYTHON"
"**".join(s)

'P**Y**T**H**O**N'

In [225]:
s = "one:two:three:four"
s.split(":", 2)

['one', 'two', 'three:four']

In [228]:
s = "one\ntwo\n\n\n\n\nthree\nfour"
s.splitlines()

['one', 'two', '', '', '', '', 'three', 'four']

In [239]:
price=500
price2=600

print("가격은 %10d \n옆집은 %10d"%(price, price2))
print("가격은 %-10d \n옆집은 %-10d"%(price, price2))
print("가격은 {} \n옆집은 {}".format(price, price2))
print("가격은 {1} \n옆집은 {0}".format(price2, price))

#키워드인수 
print("가격은 {price2} \n옆집은 {price}".format(price2=700, price=800))

가격은        500
옆집은        600
가격은 500
옆집은 600
가격은 500
옆집은 600
가격은 500
옆집은 600
가격은 700
옆집은 800

In [ ]:
#1. 성적이 90점이상이면 A, 80점 이상이면 B, 70점 이상이면 C, 60점 이상이면 D,
#그외에는 F를 반환하는 함수 getGrade(score)를 작성하고 테스트하라.

In [285]:
def getGrade(score):
    grade ='F'
    if score>=90:
        grade='A' 
    elif score>=80:
        grade='B'
    elif score>=70:
        grade='C'
    elif score>=60:
        grade='D'
    return grade

In [296]:
def getGrade(score):
    grade = ['A','A','B','C','D','F','F','F','F','F']
    return grade[10-score//10]

In [298]:
getGrade(40)

'F'

In [299]:
def decrement(value):
	value -= 1

n = 1
decrement(n)
print(n)

1

In [ ]:
첫 번째 정수: 36
두 번째 정수: 12
12

In [300]:
def getGcd(a,b):
    c = min(a,b)
    for i in range(c, 0, -1):
        if a%i==0 and b%i==0:
            break;
        
    return i

In [303]:
getGcd(36,12)

12

In [306]:
#소수 ------- 1과 자기 자신으로만 나누어 떨어지는 수 
def getPrime(n):    
    for i in range(n-1, 1, -1):
        if n%i==0:
            return False
        
    return True

In [308]:
for su in range(2,101): #7 =>6~2  10->9...5
    if getPrime(su):
        print(su, end=",")

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

In [310]:
global_var = 0
def sub():
	local_var = 1
	print(global_var)
	print(local_var)
sub()
print(global_var)
#print(local_var) #지역변수 접근불가

0
1
0

In [ ]:
7. 원의 면적을 계산하는 함수 calcArea(radius)을 정의하고 테스트한다. 
만약 원의 반지름이 주어지지 않았으면 5.0으로 간주한다. 
함수의 ”기본 인수“를 사용하라.

In [312]:
def calcArea(radius=5.0):
    return radius*radius*3.14

In [314]:
calcArea()
calcArea(10)

314.0

In [ ]:
8. 두 개의 수를 받아서 오름차순으로 반환하는 함수 getSorted(x, y)를 작성하고 
반환한다. 
함수가 2개의 값을 반환하려면 다음과 같이 한다.

In [319]:
def getSorted(x, y):
    if x > y:
        return y,x
    return x,y

In [337]:
f = lambda x, y : (y,x) if x > y else (x,y)
a,b = f(100,40)
print(type(f(100,40)))
print(a, b)
a,b = (lambda x, y : (y,x) if x > y else (x,y))(100,40)
print(a, b)

<class 'tuple'>
40 100
40 100

In [322]:
x,y=getSorted(100,20)

In [323]:
x

20

In [324]:
y

100

In [ ]:
#10. 정육면체의 부피를 계산하는 함수 calcCubeVol(side)를 작성하고 테스트하라.

In [341]:
calcCubeVol = lambda side:side*side*side
calcCubeVol(10)

1000

In [342]:
import re

In [359]:
s = "(010)-2222-4444"
s = "010-2222-4444"
s = "02-2222-4444"
s = "02 2222 4444"
regex = "\(?\d{2,3}\)?-\d{3,4}-\d{4}"
regex = "\(?\d{2,3}\)?\s\d{3,4}\s\d{4}"

result = re.match(regex, s)
print(bool(result))
print(result)
if result:
    print(result.start())
    print(result.end())
    print(result.span())

True
<_sre.SRE_Match object; span=(0, 12), match='02 2222 4444'>
0
12
(0, 12)

In [380]:
s = '''
존재하지 않는 페이지입니다.....error 404
내부오류입니다........error 500
(010)-3333-5555
02-555-9999
02 555-8888
02 555     7777
02 555-----8888
'''
pattern = "error\s\d{3,}"
pattern2 = "\(?\d{2,3}\)?[-|\s]\d{3,4}[-|\s]+\d{4}"
re.findall(pattern, s) #list
re.findall(pattern2, s)

['(010)-3333-5555',
 '02-555-9999',
 '02 555-8888',
 '02 555     7777',
 '02 555-----8888']

In [386]:
s = "02-1234-5678"
pattern = "(\d{2})-(\d{4})-(\d{4})"
pattern = "(?P<aa>\d{2})-(?P<bb>\d{4})-(?P<cc>\d{4})"

pattern = "(?P<kuk>\d{2})-(?P<before>\d{4})-(?P<after>\d{4})"

result = re.search(pattern, s)
print(result.group())
print(result.group(1))
print(result.group(2))
print(result.group(3))
print(result.group("kuk"))
print(result.group("before"))
print(result.group("after"))

02-1234-5678
02
1234
5678
02
1234
5678

In [389]:
s = """
고객센터
Tel : 1566-5701 (평일 09:00~18:00)
스마일클럽/SVIP 전용 : 1522-5700 (365일 09:00~18:00)
경기도 부천시 원미구 부일로 223(상동) 투나빌딩 6층 
Fax : 02-589-8842 | Mail : gmarket@corp.gmarket.co.kr

"""

In [399]:
pattern = r"\d{2}:[0-9]{2}\~\d{2}:\d{2}"
re.findall(pattern, s)

['09:00~18:00', '09:00~18:00']

In [272]:
error_str = "페이지가 에러 404  에러 405  "
result = re.findall("에러 \d{3}", error_str)

['에러 404', '에러 405']

In [252]:
import re
s= "010-8888-9999"
s= "(010)-8888-9999"
s= "(010) 8888 9999"
regex = "\d\d\d-\d\d\d\d-\d\d\d\d"
regex = "\(?\d{3}\)?-\d{4}-\d{4}"
regex = "\(\d{3}\)-\d{4}-\d{4}"
regex = "\(\d{3}\)\s?\d{4}\s?\d{4}"
result = re.match(pattern=regex, string=s)
print(result)

<_sre.SRE_Match object; span=(0, 15), match='(010) 8888 9999'>

In [339]:
s = """
고객센터
Tel : 1566-5701 (평일 09:00~18:00) 010-589-8842
스마일클럽/SVIP 전용 : 1522-5700 (365일 09:00~18:00)
경기도 부천시 원미구 부일로 223(상동) 투나빌딩 6층 
Fax : 02-589-8842 | Mail : gmarket@corp.gmarket.co.kr
"""

regex = "\(?\d{2,3}\)?-\d{3,4}-\d{4}"
re.findall(regex, s)

['010-589-8842', '02-589-8842']

In [340]:
s = "aaaaaaaaaaa 011-444-5555 "
regex = "(?P<aa>\d{3})-(?P<bb>\d{3})-(?P<cc>\d{4})"
result = re.search(regex, s)
print(result.group(1))
print(result.group(2))
print(result.group(3))
print(result.group())
print(result.group("aa"))
print(result.group("bb"))
print(result.group("cc"))
result

011
444
5555
011-444-5555
011
444
5555