In [18]:
a=[]
a=[0,1,2,3,4,5]
#indexing
a[-1]

5

In [11]:
#slicing
a[0:2]
a[::2]
a[::-1]
a[0:3:2]
type(a[0:3:2])

list

In [12]:
#반복
a * 2

[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]

In [13]:
#연결하기 
a + [10,20,30]

[0, 1, 2, 3, 4, 5, 10, 20, 30]

In [22]:
a = [0,1,2,3,4,5]
a

[0, 1, 2, 3, 4, 5]

In [23]:
#여러개의 값을 변경 
a[2:5] = [77,88,99,55]
a

[0, 1, 77, 88, 99, 55, 5]

In [24]:
#단일값으로 변경 
a[0] = 11
a

[11, 1, 77, 88, 99, 55, 5]

In [28]:
a = [[1,2,3],[4,5,6,7],[8,9]]
for item in a:
    #print(item)
    for su in item:
        print(su, end=" ")
    print()
a[0][1]

1 2 3
4 5 6 7
8 9

2

In [30]:
#1,2,3,4,5,6,7,8,9,10
#1,4,9,16 ~~~~~~
alist = []
for su in range(1,11):
    alist.append(su ** 2)
alist

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [32]:
[su**2 for su in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [34]:
[su**2 for su in range(1,11) if  su > 5 ]

[36, 49, 64, 81, 100]

In [41]:
a=[1,2,3,4]
b=[10,20,30]

a.append(5)
a.insert(2,88)
type(a[2:2])
a[2:2] = b   #리스트의 결합 
a

[1, 2, 10, 20, 30, 88, 3, 4, 5]

In [44]:
a[2] = b
a[3] = b
a

[1, 2, [77, 20, 30], [77, 20, 30], 30, 88, 3, 4, 5]

In [45]:
b[0]=66
a

[1, 2, [66, 20, 30], [66, 20, 30], 30, 88, 3, 4, 5]

In [52]:
score=[10,20,30]
score[2]=[1,2,3]
score

[10, 20, [1, 2, 3]]

In [53]:
score[0:1] = [77, 88,99]
score

[77, 88, 99, 20, [1, 2, 3]]

In [54]:
score[4][1] = [1,2,3]
score

[77, 88, 99, 20, [1, [1, 2, 3], 3]]

In [55]:
score[4][0] = 99
score

[77, 88, 99, 20, [99, [1, 2, 3], 3]]

In [65]:
score = [1,2,3,100,5,100, b, b]
score.remove(100)
score

[1, 2, 3, 5, 100, [66, 20, 30], [66, 20, 30]]

In [69]:
score = [1,2,3,100,5,100]
score.count(100)
[s for s in score if s != 100]

[1, 2, 3, 5]

In [87]:
score = [88,99,100,77, 66, 100, 100]
print("100 점 맞은 사람 몇명?", score.count(100))

100 점 맞은 사람 몇명? 3

In [75]:
score.index(100)

2

In [83]:
#몇번째 사람이 100점인가?
idx=0
while True:
    try:
        idx = score.index(100, idx)
        
        #print("만점은  %d째 사람입니다."% idx)
        print("만점은  {}째 사람입니다.".format(idx))
        idx += 1
    except ValueError:
        break

만점은  2째 사람입니다.
만점은  5째 사람입니다.
만점은  6째 사람입니다.

In [85]:

msg = "만점은  {}째 사람입니다."
[msg.format(idx) for idx, s in enumerate(score) if s == 100]
[idx for idx, s in enumerate(score) if s == 100]

[2, 5, 6]

In [94]:
max(score), min(score), score.count(100), 10 in score, 10 not in score

(100, 66, 3, False, True)

In [98]:
mylist = [10,3,5,20,50,22]
mylist.sort()
mylist.reverse()
mylist

[50, 22, 20, 10, 5, 3]

In [100]:
mylist = [10,3,5,20,50,22]
sorted(mylist)
mylist

[10, 3, 5, 20, 50, 22]

In [103]:
mylist = [10,3,5,20,50,22]
mylist.sort( reverse=True) #default=Ascending 
mylist

[50, 22, 20, 10, 5, 3]

In [115]:
dir(str)
dir(int)
dir(bool)
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [116]:
mylist = ["Python", 'Java', 'oracle', 'JavaScript']
mylist.sort(key=str.lower)
mylist

['Java', 'JavaScript', 'oracle', 'Python']

In [110]:
mylist = ["Python", 'Java', 'oracle', 'JavaScript']
mylist.sort(key=f)
mylist

['Java', 'JavaScript', 'oracle', 'Python']

In [111]:
mylist = ["Python", 'Java', 'oracle', 'JavaScript']
mylist.sort(key=lambda s : s.lower()  )
mylist

['Java', 'JavaScript', 'oracle', 'Python']

In [109]:
def f(s):
    return s.lower()

In [118]:
mylist.append(['oracle', 'Python'])
mylist

['Java',
 'JavaScript',
 'oracle',
 'Python',
 ['oracle', 'Python'],
 ['oracle', 'Python']]

In [119]:
mylist += ['oracle', 'Python']

In [122]:
mylist.extend(['oracle', 'Python'])
mylist

['Java',
 'JavaScript',
 'oracle',
 'Python',
 ['oracle', 'Python'],
 ['oracle', 'Python'],
 'oracle',
 'Python',
 'oracle',
 'Python',
 'oracle',
 'Python']

In [ ]:
1. list1 = [ 1, 2, 3, 4, 5, 6]과 같은 리스트가 있다고 하자. 다음 수식의 값을 쓰시오.
(1) list1[2]
(2) list1[-2]
(2) list1[1:3]
(3) len(list1)
(4) list1.index(5)
(5) max(list1)
(6) sum(list1)

In [130]:
list1 = [ 1, 2, 3, 4, 5, 6]
list1[2] #3
list1[-2] #5
list1[1:3] #[2,3]
len(list1)
list1.index(5) #4
max(list1)
sum(list1)

21

In [ ]:
2. list1 = [ 1, 2, 3, 4, 5, 6]과 같은 리스트가 있다고 하자. 다음 함수를 호출한 후의 리스트는 어떻게 될까? 
(1) list1.append(10)
(2) list1.pop()
(3) list1.insert(1, 20)

In [136]:
list1 = [ 1, 2, 3, 4, 5, 6]
list1.append(10)
list1
list1.pop()
list1
list1.insert(1, 20)
list1

[1, 20, 2, 3, 4, 5, 6]

In [ ]:
3. list1 = [ 1, 2, 3 ]와 list2 =[ 4, 5, 6 ]가 있다고 하자. 다음 수식이 반환하는 값은 무엇인가? 
(1) list1 + list2 
(2) list1 * 2
(3) list1 == list2

In [149]:
list1 = [ 1, 2, 3 ]
list2 =[ 4, 5, 6 ]
list1 + list2 
list2
list1 * 2
list1 == list2

list3 = list1
list3 == list1
list4 = list1 + list2 
list4
del list1
list4
list3

[1, 2, 3]

In [153]:
list1 = [ 1, 2, 3 ]
list2 =[ 4, 5, 6 ]
list3 = list1
print(id(list1))
print(id(list2))
print(id(list3))

del list1[0]
print(list1)
print(list3)

1783228060808
1783228220104
1783228060808
[2, 3]
[2, 3]

In [154]:
total = 0
cnt = 5
for i in range(cnt):
    su = int(input("정수를 입력하세요:"))
    total += su
avg =  total / cnt
print(avg)


#평균을 상화하는 숫자의 개수= 2

정수를 입력하세요:10
정수를 입력하세요:20
정수를 입력하세요:30
정수를 입력하세요:40
정수를 입력하세요:50
30.0

In [167]:
alist = input("5개 정수를 입력하세요:").split(",")
blist = [int(su) for su in alist]
avg = sum(blist) / len(blist)
print("평균은 ", avg)
print([su for su in blist if su > avg])
len([su for su in blist if su > avg])

5개 정수를 입력하세요:10,20,30,40,50,60
평균은  35.0
[40, 50, 60]

3

In [ ]:
5. 정수 리스트를 읽어서 역순으로 반환하는 reverseList() 함수를 작성하고 이것을 이용하여서 정수 리스트를 
역순으로 출력하는 프로그램을 작성해보자.

In [173]:
def reverseList(alist):
    blist=[]
    for su in alist:
        blist.insert(0, su)
    return blist

In [179]:
def reverseList(blist):
    blist.reverse()

In [182]:
def reverseList(blist):
    return reversed(blist)

In [189]:
alist = [1,2,3,4,5]
aa = reverseList(alist)
list(aa)
aa

In [187]:
alist

[1, 2, 3, 4, 5]

In [195]:
a = "파이썬"
tuple(reversed(a))
list(reversed(a))

['썬', '이', '파']

In [211]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\user\anaconda3\envs\encore\lib\site-packages (1.16.1)

In [214]:
#정수 리스트 입력: 10 20 30 40 50
alist = input("정수 리스트 입력:").split(" ")
blist = [int(su) for su in alist]
sum(blist) / len(blist)

import numpy
numpy.std(blist)
#평균= 30.0

정수 리스트 입력:10 20 30 40 50

14.142135623730951

In [ ]:
7. 주사위를 던져서 나오는 값들의 빈도를 계산하는 프로그램을 작성해보자. 
즉 1, 2, 3, 4, 5, 6의 값이 각각 몇 번이나 나오는지를 계산한다. 
난수 발생 함수와 리스트를 사용해보자. (1000번 던진다. )
#random.randint(6)

In [221]:
import random
result_list = [0,0,0,0,0,0]

for i in range(1000):
    val = random.randint(1,6)
    result_list[val-1] += 1
result_list

[181, 151, 165, 167, 176, 160]

In [231]:
a = [ random.randint(1,6) for i in range(1000)]

[a.count(i) for i in range(1,7)]

# for i in range(1,7):
#     print(a.count(i))

[151, 190, 160, 158, 177, 164]

In [196]:
alist = [10,20,30,40,50]
alist.reverse()

In [197]:
alist

[50, 40, 30, 20, 10]

In [234]:
alist = ["123","34","56","2345"]
alist.sort(key=int)
alist

['34', '56', '123', '2345']

In [239]:
alist = [2,6,8,3,9,5,6,4,7]
alist.sort(key=lambda x:x%3)
alist

[6, 3, 9, 6, 4, 7, 2, 8, 5]

In [236]:
def f(x):
    return x % 3

In [242]:
alist = [("lee", 100),("yang", 90),("kim", 95),("jeoung", 88)]

In [245]:
alist.sort(key=lambda x:x[1], reverse=True)
alist

[('lee', 100), ('kim', 95), ('yang', 90), ('jeoung', 88)]

In [240]:
atuple = ("lee", 100)
atuple[0]

'lee'

In [249]:
#1~10까지의 2배수를 리스트로 만들기 
#2의 배수와 3의 배수의 합계가 7의 배수인 것만 리스트로 만들기 
[(su,su2) for su in range(2,11,2) for su2 in range(3,11,3) if (su+su2)%7==0]

[(4, 3), (8, 6)]

In [251]:
[su*2 for su in range(2,11)]

[4, 6, 8, 10, 12, 14, 16, 18, 20]

In [250]:
[(su*2,su2) for su in range(2,11,2) for su2 in range(3,11,3) ]

[(2, 3),
 (2, 6),
 (2, 9),
 (4, 3),
 (4, 6),
 (4, 9),
 (6, 3),
 (6, 6),
 (6, 9),
 (8, 3),
 (8, 6),
 (8, 9),
 (10, 3),
 (10, 6),
 (10, 9)]

In [247]:
for su in range(2,11,2):
    for su2 in range(3,11,3):
        if (su+su2)%7==0:
            print(su, su2)

4 3
8 6

In [252]:
seq1 = "abcd"
list(seq1)

['a', 'b', 'c', 'd']

In [254]:
seq2 = (1,2,3,4)
seq2

(1, 2, 3, 4)

In [261]:
[(x,y) for x in seq1 for y in seq2] #모든조합 

#zip : 같은인덱스끼리 
list(zip(seq1, seq2))
tuple(zip(seq1, seq2))
dict(zip(seq1, seq2))

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
row : 0~3
col: 0~3

In [263]:
for row in range(3):
    for col in range(3):
        if row == col:
            print(1,end=" ")
        else:
            print(0,end=" ")
    print()

1 0 0
0 1 0
0 0 1

In [288]:
[ [ 1 if row == col else 0 for col in range(3)] for row in range(5) ]

[[1, 0, 0], [0, 1, 0], [0, 0, 1], [0, 0, 0], [0, 0, 0]]

In [265]:
[[1 if row == col else 0 for col in range(3)] for row in range(3)]

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

# tuple

In [307]:
t = ()
t=1,
t = 1,2,3
t = 1,2,3,
t = (1,2,3,4,)
type(t)
t
t[0]
#t[0] = 99
#del t[0]
t + (5,6,7) #결합
t * 2 #반복 
t[0:3]
len(t)
9 in t
3 in t

True

In [313]:
t = (1,2,3,4,1,2,3,2,2,2)
t.count(2)
t.index(2, 6)

7

In [316]:
t = (12345, "Hello")
t2 = t, (1,2,3,4)
t2 = (t, (1,2,3,4))
t2

((12345, 'Hello'), (1, 2, 3, 4))

In [317]:
x, y, z = 10,20,30
print(x, y, z)

10 20 30

In [320]:
a, b = (1,2),(3,4)
print(a)
print(b)

(1, 2)
(3, 4)

In [321]:
(x,y), (b1, b2) = (1,2),(3,4)
print(x)
print(y)
print(b1)
print(b2)

1
2
3
4

In [324]:
a = divmod(10,3)
type(a)
mok, na = divmod(10,3)
print(mok)
print(na)

3
1

In [326]:
import time

def gettime():
    #시간, 분
    now = time.localtime()
    return now.tm_hour, now.tm_min

In [327]:
h, m = gettime()
print(h, "시", m, "분")

14 시 28 분

In [328]:
hm = gettime()
print(hm[0], "시", hm[1], "분")

14 시 29 분

In [329]:
t = t + (5,6,7) #결합
t

(12345, 'Hello', 5, 6, 7)

In [330]:
def calc(*args):
    a,b = args
    return a+b, a*b

In [338]:
data = (3,4)
ret = calc(*data)
ret = calc(*(3,4))
type(ret), ret[0], ret[1]

(tuple, 7, 12)

In [ ]:
#패킹....변수하나에 값 여러개 
#언패킹 ......하나의 변수에서 여러개의 값을 꺼내오는것

In [339]:
t = 100, "파이썬", True
a,b,c = t

In [342]:
alist = [1,2,3,4,"파이썬"]
a,b,c,d,e = alist
print(a)
print(e)

1
파이썬

In [348]:
t = (1,2,3,4,5)
a, *b = t
print(a, type(a), b, type(b), t, type(t))

*a, b = t
print(a, type(a), b, type(b), t, type(t))


a, b, *c = t
print(a, type(a), b, type(b), c, type(c),t, type(t))

1 <class 'int'> [2, 3, 4, 5] <class 'list'> (1, 2, 3, 4, 5) <class 'tuple'>
[1, 2, 3, 4] <class 'list'> 5 <class 'int'> (1, 2, 3, 4, 5) <class 'tuple'>
1 <class 'int'> 2 <class 'int'> [3, 4, 5] <class 'list'> (1, 2, 3, 4, 5) <class 'tuple'>

In [350]:
t = (1,2,3,4,5)
alist = [1,2,3,4,5]
list(t)
tuple(t)

(1, 2, 3, 4, 5)

In [386]:
#이름이 있는 튜플
from collections import namedtuple
aa = namedtuple("PP", "x y")

p1 = PP(1,2)
print(p1.x)
print(p1.y)


p2 = PP(10,20)
print(p2.x)
print(p2.y)

1
2
10
20

In [370]:
print("파이썬입니다.{0}----{1}".format(10,20))
print("파이썬입니다.{name}----{age}".format(name="AA",age=20))

파이썬입니다.10----20
파이썬입니다.AA----20

In [371]:
a = (1,2,3,4)
a[2]

3

In [392]:
import os
fname = "day03.ipynb"
#fname="c:\workspace\jsoup-1.11.3.jar"
print(os.path.abspath(fname))
os.path.exists(fname)
os.path.getsize(fname)
######################################
os.path.split(fname)#폴더, 파일이름분리 
type(os.path.split(fname)) 
os.path.splitext(fname) #확장명 과 분리

C:\mynote\day03.ipynb

('day03', '.ipynb')